.xfavorite {
	color: white;
	font-weight: 600;
	font-size: 12px;
	position: absolute;
	margin-top: -120px;
	margin-left: 68px;
	background-color: $color-secondary;
	text-align: center;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	@media screen and (min-width: 768px) {
		display: inline;
		margin-top: -290px;
		margin-left: 148px;
		font-size: medium;
		width: 20px;
		height: 20px;
		  }
}

.resetbutton {
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: -20px;
	@media screen and (min-width: 768px) {
		height: 60px;
		margin-bottom: 0px;
		  }
	&__btn {
		text-transform: uppercase;
		font-size: 10px;
		padding: 8px;
		border: 1px solid rgb(255, 255, 255);
		color: white;
		font-weight: 700;
		background-color: $color-footer;
		display: inline-block;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		@media screen and (min-width: 768px) {
			padding: 10px;
			font-size: 14px;
			border: 2px solid rgb(255, 255, 255);
			  }
		&:hover {
			background-color: $color-secondary;
			transform: scale(1.1, 1.1);
			transition: transform 2s;
		}

		&:not(:hover) {
			transition: transform 2s;
		}
	}
}

.searchbtn {
	padding: 5px 10px 5px 10px;
	color: white;
	background-color: $color-secondary;
	border: 0;
	border-radius: 10px;
	margin-left: 5px;
	font-size: 10px;
	@media screen and (min-width: 768px) {
	font-size: 14px;

	margin-left: 13px;
	}
	&:hover {
		background-color: $color-footer;
		transform: scale(1.1, 1.1);
		transition: transform 2s;
	}

	&:not(:hover) {
		transition: transform 2s;
	}
}

.collapsed {
	display: none;
}

.selected {
	background-color: $color-selected-card;
	color: white;
}

.selectedfav {
	background-color: $color-favorite-card;
	color: rgb(0, 0, 0);
}