.xfavorite {
	color: white;
	font-weight: 600;
	font-size: small;
	position: absolute;
	margin-top: -16px;
	margin-left: 155px;
}
.resetbutton {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;

	&__btn {
		text-transform: uppercase;
		font-size: medium;
		padding: 10px 10px 10px 10px;
		border: 2px solid rgb(255, 255, 255);
		color: white;
		font-weight: 700;
		background-color: $color-footer;
		display: inline-block;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		&:hover {
			background-color:$color-secondary;
			transform: scale(1.1, 1.1);
			transition: transform 2s;
		  }
		  &:not(:hover) {
			transition: transform 2s;
		  }
	}
}
.searchbtn {
	padding: 5px 10px 5px 10px;
	color: white;
	background-color: $color-secondary;
	border: 0;
	border-radius: 10px;
	margin-left: 13px;
	&:hover {
		background-color:$color-footer;
		transform: scale(1.1, 1.1);
		transition: transform 2s;
	  }
	  &:not(:hover) {
		transition: transform 2s;
	  }
}
.collapsed {
	display: none;
}
.selected {
	background-color: $color-selected-card;
	color: white;
}
.selectedfav {
	background-color: $color-favorite-card;
	color: rgb(0, 0, 0);
}