<div class="formbox">
    <form class="formbox__searchbox js_form">
        <fieldset class="fieldset">
            <input class="inputSearch js_search" type="text" name="search" id="search" placeholder=" Ex: Walter White">
            <select name="status" id="status" class="js_status statusselect">
                <option value="All">All</option>
                <option value="Alive">Alive</option>
                <option value="Presumed dead">Presumed dead</option>
                <option value="Deceased">Deceased</option>
            </select>
            <button class="searchbtn js_btn">Search</button>
        </fieldset>
    </form>
    <span class="resetbutton">
        <button class="resetbutton__btn js_reset_btn">RESET</button>
    </span>
</div>