<main class="page__main">
    <div class="superbigbox">
        <div>
            <section class="data js-data">
                <h2 class="superbigbox__title titlefav">Favorites ❤︎</h2>
                <ul class="list__fav js-favorite-list">
            </section>
        </div>
        <div>
            <section class="data js-data">
                <h1 class="superbigbox__title titlech">Characters</h1>
                <ul class="list js_character_list">
                </ul>
            </section>
        </div>

    </div>
</main>