// fonts
$font-main: 'Montserrat', sans-serif;

// colors
$color-footer : #419539;
$color-secondary :#336c2a;
$color-card-background: #d3e7d1;
$color-selected-card:#248d55;
$color-favorite-card:#bcda37;
$color-background-page:#1c2d1b;

