// fonts
$font-main: 'Montserrat', sans-serif;

// colors
$color-footer : #419539;
$color-secondary :#003a12;
$color-card-background: #d3e7d1;
$color-selected-card:#1d3a2a;
$color-favorite-card:#dac737;
$color-background-page:#b4e5af;

