* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  padding: 2rem;
  height: 100vh;
  background-color: #1c2d1b;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

.headerbox {
  height: 320px;
  background-image: url("../images/backimage.jpg");
  background-position: center;
  background-size: cover; }
  @media screen and (min-width: 768px) {
    .headerbox {
      height: 420px; } }

.formbox {
  transform: translateY(-30px);
  display: flex;
  justify-content: center;
  flex-direction: column; }
  @media screen and (min-width: 768px) {
    .formbox {
      flex-direction: row; } }
  .formbox__searchbox {
    align-self: center;
    border-radius: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 390px;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0px 30px 10px 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: white;
    border: 2px solid #336c2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; }
    @media screen and (min-width: 768px) {
      .formbox__searchbox {
        margin: 0px 30px 30px 30px;
        flex-direction: column;
        width: 650px;
        height: 60px;
        padding: 20px; } }
    .formbox__searchbox .fieldset {
      border: transparent; }
    .formbox__searchbox .inputSearch {
      width: 120px;
      border: solid 1px #336c2a; }
      @media screen and (min-width: 768px) {
        .formbox__searchbox .inputSearch {
          flex-direction: column;
          width: 400px; } }

.superbigbox {
  display: flex;
  flex-direction: row;
  gap: 30px 8px;
  justify-content: center;
  margin-bottom: 100px; }
  .superbigbox__title {
    text-transform: uppercase;
    color: white;
    font-size: medium;
    text-align: center;
    margin-bottom: 30px;
    background-color: #336c2a; }
  @media screen and (min-width: 768px) {
    .superbigbox {
      gap: 70px 100px; } }

.titlefav {
  width: 190px; }
  @media screen and (min-width: 768px) {
    .titlefav {
      width: 420px; } }

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  @media screen and (min-width: 768px) {
    .list {
      grid-template-columns: repeat(5, 1fr);
      width: 1100px;
      gap: 30px; } }
  .list__fav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 8px; }
    @media screen and (min-width: 768px) {
      .list__fav {
        width: 420px;
        gap: 30px; } }

.card {
  padding: 5px;
  background-color: #d3e7d1;
  border-radius: 5px;
  width: 90px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 768px) {
    .card {
      gap: 20px;
      padding: 20px;
      width: 190px;
      height: 320px; } }
  .card__photobox {
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    height: 140px;
    width: 75px;
    align-self: center; }
    @media screen and (min-width: 768px) {
      .card__photobox {
        height: 220px;
        width: 150px;
        border-radius: 5px; } }
  .card__name {
    font-size: 10px;
    font-weight: 600;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .card__name {
        font-size: 14px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content; } }
  .card__status {
    font-size: 10px;
    font-weight: 300;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .card__status {
        font-size: 12px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content; } }
  .card__img {
    align-self: center;
    height: 100px;
    border-radius: 5px; }
    @media screen and (min-width: 768px) {
      .card__img {
        height: 100%; } }

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #419539; }
  .footer span {
    display: none; }
    @media screen and (min-width: 768px) {
      .footer span {
        display: inline; } }

.xfavorite {
  color: white;
  font-weight: 600;
  font-size: 12px;
  position: absolute;
  margin-top: -120px;
  margin-left: 68px;
  background-color: #336c2a;
  text-align: center;
  border-radius: 50%;
  width: 15px;
  height: 15px; }
  @media screen and (min-width: 768px) {
    .xfavorite {
      display: inline;
      margin-top: -290px;
      margin-left: 148px;
      font-size: medium;
      width: 20px;
      height: 20px; } }

.resetbutton {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px; }
  @media screen and (min-width: 768px) {
    .resetbutton {
      height: 60px;
      margin-bottom: 0px; } }
  .resetbutton__btn {
    text-transform: uppercase;
    font-size: 10px;
    padding: 8px;
    border: 1px solid white;
    color: white;
    font-weight: 700;
    background-color: #419539;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
    @media screen and (min-width: 768px) {
      .resetbutton__btn {
        padding: 10px;
        font-size: 14px;
        border: 2px solid white; } }
    .resetbutton__btn:hover {
      background-color: #336c2a;
      transform: scale(1.1, 1.1);
      transition: transform 2s; }
    .resetbutton__btn:not(:hover) {
      transition: transform 2s; }

.searchbtn {
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #336c2a;
  border: 0;
  border-radius: 10px;
  margin-left: 5px;
  font-size: 10px; }
  @media screen and (min-width: 768px) {
    .searchbtn {
      font-size: 14px;
      margin-left: 13px; } }
  .searchbtn:hover {
    background-color: #419539;
    transform: scale(1.1, 1.1);
    transition: transform 2s; }
  .searchbtn:not(:hover) {
    transition: transform 2s; }

.collapsed {
  display: none; }

.selected {
  background-color: #248d55;
  color: white; }

.selectedfav {
  background-color: #bcda37;
  color: black; }

:root {
  font-family: "Montserrat", sans-serif; }

/*# sourceMappingURL=main.css.map */
