* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  padding: 2rem;
  height: 100vh;
  background-color: #1c2d1b;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

.headerbox {
  height: 420px;
  background-image: url("../images/backimage.jpg");
  background-position: center;
  background-size: cover; }

.formbox {
  transform: translateY(-30px);
  display: flex;
  justify-content: center; }
  .formbox__searchbox {
    align-self: center;
    border-radius: 5px;
    width: 650px;
    top: 390px;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0px 30px 30px 30px;
    height: 60px;
    background-color: white;
    border: 2px solid #336c2a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; }
    .formbox__searchbox .fieldset {
      border: transparent; }
    .formbox__searchbox .inputSearch {
      width: 400px;
      border: solid 1px #336c2a; }

.superbigbox {
  display: flex;
  flex-direction: row;
  gap: 70px 100px;
  justify-content: center;
  margin-bottom: 100px; }
  .superbigbox__title {
    text-transform: uppercase;
    color: white;
    font-size: medium;
    text-align: center;
    margin-bottom: 30px;
    background-color: #336c2a; }

.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  width: 1100px; }
  .list__fav {
    width: 420px;
    list-style: none;
    grid-template-columns: 1fr 1fr;
    display: grid;
    gap: 30px; }

.card {
  padding: 20px;
  background-color: #d3e7d1;
  border-radius: 5px;
  width: 190px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
  .card__photobox {
    border-radius: 5px;
    overflow: hidden;
    -o-object-fit: cover;
    object-fit: cover;
    height: 220px;
    width: 150px;
    align-self: center; }
  .card__name {
    font-size: 14px;
    font-weight: 600;
    text-align: center; }
  .card__status {
    font-size: 12px;
    font-weight: 300;
    text-align: center; }
  .card__img {
    align-self: center;
    height: 100%; }

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: #419539; }

.xfavorite {
  color: white;
  font-weight: 600;
  font-size: small;
  position: absolute;
  margin-top: -16px;
  margin-left: 155px; }

.resetbutton {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .resetbutton__btn {
    text-transform: uppercase;
    font-size: medium;
    padding: 10px 10px 10px 10px;
    border: 2px solid white;
    color: white;
    font-weight: 700;
    background-color: #419539;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px; }
    .resetbutton__btn:hover {
      background-color: #336c2a;
      transform: scale(1.1, 1.1);
      transition: transform 2s; }
    .resetbutton__btn:not(:hover) {
      transition: transform 2s; }

.searchbtn {
  padding: 5px 10px 5px 10px;
  color: white;
  background-color: #336c2a;
  border: 0;
  border-radius: 10px;
  margin-left: 13px; }
  .searchbtn:hover {
    background-color: #419539;
    transform: scale(1.1, 1.1);
    transition: transform 2s; }
  .searchbtn:not(:hover) {
    transition: transform 2s; }

.collapsed {
  display: none; }

.selected {
  background-color: #248d55;
  color: white; }

.selectedfav {
  background-color: #bcda37;
  color: black; }

:root {
  font-family: "Montserrat", sans-serif; }

/*# sourceMappingURL=main.css.map */
