.superbigbox {
	display: flex;
	flex-direction: row;
	gap: 70px 100px;
	justify-content: center;
	margin-bottom: 100px;
	&__title {
		text-transform: uppercase;
		color: white;
		font-size: medium;
		text-align: center;
		margin-bottom: 30px;
		background-color: $color-secondary;
	}
}
.list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px;
	width: 1100px;
	&__fav {
		width: 420px;
		list-style: none;
		grid-template-columns: 1fr 1fr;
		display: grid;
		gap: 30px;
	}
}

.card {
	padding: 20px;
	background-color: $color-card-background;
	border-radius: 5px;
	width: 190px;
	height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	&__photobox {
		border-radius: 5px;
		overflow: hidden;
		object-fit: cover;
		height: 220px;
		width: 150px;
		align-self: center;
	}
	&__name {
		font-size: 14px;
		font-weight: 600;
		text-align: center;
	}
	&__status {
		font-size: 12px;
		font-weight: 300;
		text-align: center;
	}
	&__img {
		align-self: center;
		height: 100%;
	}
}