.superbigbox {
	display: flex;
	flex-direction: row;
	gap: 30px 10px;
	justify-content: center;
	margin-bottom: 100px;


	&__title {
		text-transform: uppercase;
		color: white;
		font-size: medium;
		text-align: center;
		margin-bottom: 30px;
		background-color: $color-secondary;
	}
	@media screen and (min-width: 768px) {
		gap: 70px 100px;
	}
}

.list {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: fit-content;
	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(5, 1fr);
		width: 1100px;
		gap: 30px;
	}

	&__fav {
		width: fit-content;
		list-style: none;
		grid-template-columns: 1fr 1fr;
		display: grid;

		gap: 10px;
		@media screen and (min-width: 768px) {
			width: 420px;
			gap: 30px;
		}
	}
}

.card {
	padding: 5px;
	background-color: $color-card-background;
	border-radius: 5px;
	width: 90px;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	@media screen and (min-width: 768px) {
		gap: 20px;
		padding: 20px;
		width: 190px;
		height: 320px;
	}

	&__photobox {
	
		overflow: hidden;
		object-fit: cover;
		height: 140px;
		width: 75px;
		align-self: center;
		
		@media screen and (min-width: 768px) {
			height: 220px;
			width: 150px;
			border-radius: 5px;
		}
	}

	&__name {
		font-size: 10px;
		font-weight: 600;
		text-align: center;
	
		
		@media screen and (min-width: 768px) {
			font-size: 14px;
			height: fit-content;
		}
	}

	&__status {
		font-size: 10px;
		font-weight: 300;
		text-align: center;
			
		@media screen and (min-width: 768px) {
			font-size: 12px;
			height: fit-content;
		}
	}

	&__img {
		align-self: center;
		height: 100px;
		border-radius: 5px;
		@media screen and (min-width: 768px) {
			height: 100%;
		}
	}
}