.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 30px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: $color-footer;
}